html,body{
    width:100%;height:100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    animation: startOpacity 1s linear;
    animation-fill-mode: forwards;
    background-color: #0e1818;
    color: white;
}
@keyframes startOpacity {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
/* nav */

.spinCircle{
    animation: spinCircle 10s linear infinite;
}
@keyframes spinCircle {
    from {
        transform:rotate(0);
    }
    to {
        transform:rotate(360deg);
    }
}
.imageCircle{
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    /* text-align: center; */
    /* margin: auto; */
    width: 23rem;
    /* transform-origin: 50% 50%; */
    /* opacity: 0; */
}

.line{
    display: block;
    position: absolute;
    width: 22px;
    height: 2px;
    border-radius: 30px;
    background-color: white;
    top: 50%;
    left: 10%;
    opacity: 0;
}
.line2{
    display: block;
    position: absolute;
    width: 22px;
    height: 2px;
    border-radius: 30px;
    background-color: white;
    top: 50%;
    left: 10%;
}
._line{
  display: block;
  position: absolute;
  width: 22px;
  height: 2px;
  border-radius: 30px;
  background-color: black;
  top: 50%;
  left: 10%;
}

body > .main > .nav {
    /* text-align: center; */
    margin : 0px;
    background-color: #e4e3de;
    justify-content: center;
    align-items: center;
    padding: 1% 0;
    /* font-size: 3em; */
    position: fixed;
   
}

#menu{
    display: inline;
    right: 10%;
    top: 10%;
    position: absolute;
    z-index: 9999;
}
#overlay{
    display: inline-block;
    position: absolute;
    /* font-size: 16px; */
    color: white;
    /* text-align: center; */
    top: 12%;
    z-index: 995;
    left: 7%;
}
nav > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
nav > ul > li{
    /* margin: 10% 0; */
    /* padding-bottom: 20px; */
    /* margin-left: 150%; */
    
    padding-left: 15%;
    width:300px;
}
nav > ul > li:nth-child(4){
    position: absolute;
    top: 115%;
    left: 66.5%;
    height: 300px;
}
nav > ul > li:nth-child(3){
    height: 300px;;
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    opacity: 1;
    text-decoration: none;
    color: chartreuse;
}
.Index{
    padding-bottom: 5%;
    padding-left: 3%;
    font-size: 2rem;
    opacity: 0;
}
.footerColor{
    /* padding: 40% 0; */
    display: inline-block;
    font-size: 14px;
    color: rgb(133, 133, 133);
    position: absolute;
    
}
#footerColor{
    padding-top: 25%;
    opacity: 0;
}
.IndexNumber{
    font-size: 10rem;
    font-weight: bolder;
    color: rgb(54, 54, 54);
    opacity: 0;
}
.IndexNumber2{
    font-size: 10rem;
    font-weight: bolder;
    color: rgb(54, 54, 54);
    opacity: 0;
}
.Sub{
    font-size: 3rem;
    margin-left: 5%;
    font-weight: bolder;
    padding-bottom: 3%;
    opacity: 0;
}
.IndexUse{
    font-size: 1rem;
    font-weight: lighter;
    margin-left: 6%;
    opacity: 0;
}
.MenuCircle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: chartreuse;
    position: absolute;
    right: 40%;
    margin-top: 7%;
    opacity: 0;
}
#_menu0{
    width: 180px;
    top: 540px;
    position: absolute;
}

/* Button Design */

#menuicon{display: none;}
#menuicon + label {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor:pointer;
}
#menuicon + label  p{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background-color: white;
    transition: all 0.3s;
    margin: 0;
}
#menuicon + label  p:nth-child(1){top: 0; opacity: 1;width: 80%;}
#menuicon + label  p:nth-child(2){top: 50%; transform: translateY(-50%);}
#menuicon + label  p:nth-child(3){bottom: 0;width: 80%;}
#menuicon + label:hover  p:nth-child(1){width: 100%;}
#menuicon + label:hover  p:nth-child(2){width: 80%;}
#menuicon + label:hover  p:nth-child(3){width: 100%;}
#menuicon:checked +label{z-index: 99;}
#menuicon:checked +label p{background-color: #fff;}
#menuicon:checked +label p:nth-child(1){top: 50%; transform: translateY(-50%) rotate(45deg);}
#menuicon:checked +label p:nth-child(2){opacity: 0;}
#menuicon:checked +label p:nth-child(3){opacity: 0;}
#sidebar{
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 1920px;
    z-index: 22; 
    transition: all 0.5s; 
}

#menuicon:checked + label + div{left: 0;}

.flex_con{
    display:flex;
    justify-content: space-between;
    width:80vw;
}
/* footer */

footer{
    /* padding: 830px 0px 0px 6%; */
    position: absolute;
    bottom: 15%;
    left: 7%;
    width: 480px;
    display: inline-block;
    /* bottom: 3%; */ 
    font-size: 14px;
    /* z-index: 9999999; */
}
.footerColor{
    color: rgb(133, 133, 133);
}
.footerColorNav{
    color: white;
}
.footerColor > h1{
  padding-bottom: 3%;
  font-weight: bold;
}

/* 
  .gradient-purple-blue {
    background-image: linear-gradient(30deg, #8E78FF, #B9DEDB);
  } */



  /* pointer cursor */

.loader {
    position: fixed;
    pointer-events:none;
    top:0;
    left:0;
    display:inline-block;
    /* top: 70%;
    left: 70%; */
    width: 70px;
    height: 70px;
    margin: -25px;
    /* z-index: 999999; */
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px chartreuse;
    z-index: 2000;

    
    animation: 3s bordertl linear infinite,
      4s border1 linear infinite,
      6s border2 linear infinite,
      3s border3 linear infinite,
      3s rotate linear infinite,
      2s hover ease-in-out infinite;
  }

.cursorImageHover{
    background-color: chartreuse;
    width: 100px;
    height: 100px;
    transition: all 20ms ease-in-out;
}

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes border1 {
    0%, 100% {
      border-top-left-radius: 100px;
    }
    
    25% {
      border-top-left-radius: 90px;
    }
    
    50% {
      border-top-left-radius: 80px;
    }
    
    75% {
      border-top-left-radius: 70px;
    }
  }
  
  @keyframes border2 {
    0%, 100% {
      border-top-right-radius: 100px;
    }
    
    25% {
      border-top-right-radius: 50px;
    }
    
    50% {
      border-top-right-radius: 100px;
    }
    
    75% {
      border-top-right-radius: 70px;
    }
  }
  
  @keyframes border3 {
    0%, 100% {
      border-bottom-right-radius: 100px;
    }
    
    25% {
      border-bottom-right-radius: 70px;
    }
    
    50% {
      border-bottom-right-radius: 80px;
    }
    
    75% {
      border-bottom-right-radius: 90px;
    }
  }
  
  @keyframes borderbl {
    0%, 100% {
      border-bottom-left-radius: 100px;
    }
    
    25% {
      border-bottom-left-radius: 90px;
    }
    
    50% {
      border-bottom-left-radius: 80px;
    }
    
    75% {
      border-bottom-left-radius: 70px;
    }
  }

  /* menu animation */

  .startMenu{
    animation: startMenu1 0.7s linear;
    animation-fill-mode: forwards;
  }
  .startMenuIndex{
    animation: startMenu1 0.5s linear;
    animation-fill-mode: forwards;
  }
  .startMenuIndexNumber2{
    animation: startMenu1 0.5s linear;
    animation-fill-mode: forwards;
  }
  .startMenuDelay{
    animation: startMenu1 0.5s linear;
    animation-fill-mode: forwards;
  }
  .startMenuDelay2{
    animation: startMenu1 0.6s linear;
    animation-fill-mode: forwards;
  }
  @keyframes startMenu1{
      form{
          opacity: 0;
      }
      to{
          opacity: 1;
      }
  }

  /* section1 */

  #section1 > p{
      font-size: 80px;
      position: absolute;
      left: 40%;
      top: 30%;
      font-weight: bold;
  }

  /* section2 */

#section2{
    position: absolute;
    font-size: 20px;
    font-weight: lighter;
    left: 40%;
    top: 60%;
    animation: ani 1s linear ;
    animation-fill-mode: forwards;
}
#section2 > a > p{
    display: absolute;
    padding-bottom: 20%;
}
#section2 > p{
    display: absolute;
    padding-bottom: 20%;
}
@keyframes ani{
    from{
        transform: translate(-50%, -70%);
    }to{
        transform: translate(-50%,-50%);
    }
}
.flex-con2{
  display:flex;
  justify-content: space-between;
  width:60vw;
  padding-left: 20%;
  text-align: center;
}
.flex-con2 > li > a > .list{
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 15%;
}
.flex-con2 > li > .list{
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 15%;
}
.flex-con2 > li > .Id{
  font-size: 16px;
}

._imageCircle{
    position: absolute;
    top: 26%;
    left:37%;
    /* transform: translate(-50%, -50%); */
    /* text-align: center; */
    /* margin: auto; */
    width: 30rem;
    /* transform-origin: 50% 50%; */
    animation: spinCircle 30s linear infinite;
    opacity: 0.3;
    z-index: -999;
}

