html,body{
    width:100%;height:100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    cursor: none;
    transition: all 1000ms ease-in-out;

}
.imageCon{
    position: fixed;top:30%;left:40%;
    transform:translate(-50%,-50%);
    opacity: 0;
    animation: startOpacity 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 3.3s;
}
.imageCircle{
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    /* text-align: center; */
    /* margin: auto; */
    width: 23rem;
    /* transform-origin: 50% 50%; */
    /* opacity: 0; */

}
/* .spinCircle{
    animation: spinCircle 10s linear infinite;
} */
.invertImage{
    filter: invert(100%);
    transition: all 1000ms ease-in-out;
}
.spinCircle{
    animation: spinCircle 10s linear infinite;
}
#_0{
    animation: _0spin 2s linear infinite;
    will-change: _0spin;
    transform: none;
    z-index: 10;
}
#_1{
    animation: _1spin 2s linear infinite;
    will-change: _1spin;
    transform: none;
    z-index: 10;
}
#_2{
    animation: _2spin 2s linear infinite;
    will-change: _2spin;
    transform: none;
}
#_3{
    animation: _3spin 2s linear infinite;
    will-change: _3spin;
    transform: none;
}
#_4{
    animation: _4spin 2s linear infinite;
    will-change: _4spin;
    transform: none;
}
#_5{
    animation: _5spin 2s linear infinite;
    will-change: _5spin;
    transform: none;
}
#_6{
    animation: _6spin 2s linear infinite;
    will-change: _6spin;
    transform: none;
}
#_7{
    animation: _7spin 2s linear infinite;
    will-change: _7spin;
    transform: none;
}
@keyframes delay{
    form{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes _0spin{
    from{
        transform: scale(0) rotate(-80deg);
        opacity: 0.6;
    }
    to{
        transform: scale(0.2) rotate(0);
        opacity: 1;
    }
}
@keyframes _0bspin{
    from{
        transform: scale(0) rotate(600);
        opacity: 0.6;
    }
    to{
        transform: scale(0.2) rotate(500deg);
        opacity: 1;
    }
}
@keyframes _1spin{
    from{
        transform: scale(0.2) rotate(0);
    }
    to{
        transform: scale(0.4) rotate(80deg);
    }
}
@keyframes _1spinBack{
    from{
        transform: scale(0.4) rotate(80deg);
    }
    to{
        transform: scale(0.2) rotate(0);
    }
}
@keyframes _2spin{
    from{
        transform: scale(0.4) rotate(80deg);
    }
    to{
        transform: scale(0.8) rotate(160deg);
    }
}
@keyframes _3spin{
    from{
        transform: scale(0.8) rotate(160deg);
        opacity: 1;
    }
    to{
        transform: scale(1.4) rotate(240deg);
        opacity: 0.8;
    }
}
@keyframes _4spin{
    from{
        transform: scale(1.4) rotate(240deg);
        opacity: 0.8;
    }
    to{
        transform: scale(2.2) rotate(320deg);
        opacity: 0.5;
    }
}
@keyframes _5spin{
    from{
        transform: scale(2.2) rotate(320deg);
        opacity: 0.5;
    }
    to{
        transform: scale(3.2) rotate(400deg);
        opacity: 0.3;
    }
}
@keyframes _6spin{
    from{
        transform: scale(3.2) rotate(400deg);
        opacity: 0.3;
    }
    to{
        transform: scale(4.4) rotate(500deg);
        opacity: 0.1;
    }
}
@keyframes _7spin{
    from{
        transform: scale(4.4) rotate(500deg);
        opacity: 0.1;
    }
    to{
        transform: scale(5.6) rotate(600deg);
        opacity: 0;
    }
}


@keyframes spinCircle {
    from {
        transform:rotate(0);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes startOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.name{
    font-size: 18rem;
    font-weight: bolder;
    color: black;
    top: 55%;
    left: 63%;
    position: absolute;
    transition: all 300ms ease-in-out;
}

/* nav */

.line{
    display: block;
    position: absolute;
    width: 22px;
    height: 2px;
    border-radius: 30px;
    background-color: white;
    top: 50%;
    left: 10%;
    opacity: 0;
}

body > .main > .nav {
    /* text-align: center; */
    margin : 0px;
    background-color: #e4e3de;
    justify-content: center;
    align-items: center;
    padding: 1% 0;
    /* font-size: 3em; */
    position: fixed;
   
}

#menu{
    display: inline;
    right: 10%;
    top: 10%;
    position: absolute;
    z-index: 9999;
}
#overlay{
    display: inline-block;
    position: absolute;
    /* font-size: 16px; */
    color: white;
    /* text-align: center; */
    top: 12%;
    z-index: 995;
    left: 7%;
}
nav > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
nav > ul > li{
    /* margin: 10% 0; */
    /* padding-bottom: 20px; */
    /* margin-left: 150%; */
    
    padding-left: 15%;
    width:300px;
}
nav > ul > li:nth-child(4){
    position: absolute;
    top: 115%;
    left: 66.5%;
    height: 300px;
}
nav > ul > li:nth-child(3){
    height: 300px;;
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    opacity: 1;
    text-decoration: none;
    color: chartreuse;
}
.Index{
    padding-bottom: 5%;
    padding-left: 3%;
    font-size: 2rem;
    opacity: 0;
}
.footerColor{
    /* padding: 40% 0; */
    display: inline-block;
    font-size: 14px;
    color: rgb(133, 133, 133);
    position: absolute;
    animation: startOpacity 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 3.3s;
    opacity: 0;
    
}
#footerColor{
    /* padding-top: 30%; */
    position: absolute;
    /* bottom: -120%; */
    top: 175%;
    opacity: 0;
}
.IndexNumber{
    font-size: 10rem;
    font-weight: bolder;
    color: rgb(54, 54, 54);
    opacity: 0;
}
.IndexNumber2{
    font-size: 10rem;
    font-weight: bolder;
    color: rgb(54, 54, 54);
    opacity: 0;
}
.Sub{
    font-size: 3rem;
    margin-left: 5%;
    font-weight: bolder;
    padding-bottom: 3%;
    opacity: 0;
}
.IndexUse{
    font-size: 1rem;
    font-weight: lighter;
    margin-left: 6%;
    opacity: 0;
}
.MenuCircle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: chartreuse;
    position: absolute;
    right: 40%;
    margin-top: 7%;
    opacity: 0;
}
#_menu0{
    width: 180px;
    top: 540px;
    position: absolute;
}

/* Button Design */

#menuicon{display: none;}
#menuicon + label {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor:pointer;
}
#menuicon + label  p{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background-color: black;
    transition: all 0.3s;
    margin: 0;
}
#menuicon + label  p:nth-child(1){top: 0; opacity: 1;width: 80%;}
#menuicon + label  p:nth-child(2){top: 50%; transform: translateY(-50%);}
#menuicon + label  p:nth-child(3){bottom: 0;width: 80%;}
#menuicon + label:hover  p:nth-child(1){width: 100%;}
#menuicon + label:hover  p:nth-child(2){width: 80%;}
#menuicon + label:hover  p:nth-child(3){width: 100%;}
#menuicon:checked +label{z-index: 99;}
#menuicon:checked +label p{background-color: #fff;}
#menuicon:checked +label p:nth-child(1){top: 50%; transform: translateY(-50%) rotate(45deg);}
#menuicon:checked +label p:nth-child(2){opacity: 0;}
#menuicon:checked +label p:nth-child(3){opacity: 0;}
#sidebar{
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 1920px;
    z-index: 22; 
    transition: all 0.5s; 
}

#menuicon:checked + label + div{left: 0;}

.flex_con{
    display:flex;
    justify-content: space-between;
    width:80vw;
}
/* footer */

footer{
    /* padding: 830px 0px 0px 6%; */
    position: absolute;
    bottom: 15%;
    left: 7%;
    width: 480px;
    display: inline-block;
    /* bottom: 3%; */ 
    font-size: 14px;
    /* z-index: 9999999; */
}
.footerColor{
    color: rgb(133, 133, 133);
}
.footerColorNav{
    color: white;
}

.footerColor > h1{
    padding-bottom: 3%;
    font-weight: bold;
}

/* 
  .gradient-purple-blue {
    background-image: linear-gradient(30deg, #8E78FF, #B9DEDB);
  } */



  /* pointer cursor */

.loader {
    position: fixed;
    pointer-events:none;
    top:0;
    left:0;
    display:inline-block;
    /* top: 70%;
    left: 70%; */
    width: 70px;
    height: 70px;
    margin: -25px;
    /* z-index: 999999; */
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px chartreuse;
    z-index: 2000;
    text-align: center;

    
    animation: 3s bordertl linear infinite,
      4s border1 linear infinite,
      5.6s border2 linear infinite,
      3.3s border3 linear infinite,
      3s rotate linear infinite,
      2s hover ease-in-out infinite;
  }

.cursorImageHover{
    background-color: chartreuse;
    width: 100px;
    height: 100px;
    transition: all 20ms ease-in-out;
}

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes border1 {
    0%, 100% {
      border-top-left-radius: 100px;
    }
    
    25% {
      border-top-left-radius: 90px;
    }
    
    50% {
      border-top-left-radius: 80px;
    }
    
    75% {
      border-top-left-radius: 70px;
    }
  }
  
  @keyframes border2 {
    0%, 100% {
      border-top-right-radius: 100px;
    }
    
    25% {
      border-top-right-radius: 50px;
    }
    
    50% {
      border-top-right-radius: 100px;
    }
    
    75% {
      border-top-right-radius: 70px;
    }
  }
  
  @keyframes border3 {
    0%, 100% {
      border-bottom-right-radius: 100px;
    }
    
    25% {
      border-bottom-right-radius: 70px;
    }
    
    50% {
      border-bottom-right-radius: 80px;
    }
    
    75% {
      border-bottom-right-radius: 90px;
    }
  }
  
  @keyframes borderbl {
    0%, 100% {
      border-bottom-left-radius: 100px;
    }
    
    25% {
      border-bottom-left-radius: 90px;
    }
    
    50% {
      border-bottom-left-radius: 80px;
    }
    
    75% {
      border-bottom-left-radius: 70px;
    }
  }

  /* menu animation */

  .startMenu{
    animation: startMenu1 0.7s linear;
    animation-fill-mode: forwards;
  }
  .startMenuIndex{
    animation: startMenu1 0.5s linear;
    animation-fill-mode: forwards;
  }
  .startMenuIndexNumber2{
    animation: startMenu1 0.5s linear;
    animation-fill-mode: forwards;
  }
  .startMenuDelay{
    animation: startMenu1 0.5s linear;
    animation-fill-mode: forwards;
  }
  .startMenuDelay2{
    animation: startMenu1 0.6s linear;
    animation-fill-mode: forwards;
  }
  @keyframes startMenu1{
      form{
          opacity: 0;
      }
      to{
          opacity: 1;
      }
  }
  .click{
      color: white;
      font-size: 14px;
  }
  /* intro */
  #text{
    position: relative;
    display: inline-block;
    font-size: 4rem;
    font-weight: lighter;
    left: 50%;
    transform: translate(-50%, 700%);
    /* transform: translate(-50%, -50%); */
}

#text::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: chartreuse;
}
#text.active::after{
    display: none;
}